.card-body-barchart{
  
    .chartjs-render-monitor{
        width: 100%;
        height: 100% !important;
    }
    
}
.wrapper-chart{
    width: 100%;
    height: 100%;
    display: flex;
    .card{
        width: 100%;
    }
}
.text-value-lg{
    white-space: nowrap;
}
.text-value-lg + div{
    white-space: nowrap;
}
.page-dashboard{
    .scroll-horiziontal{
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
}
.col-cus{
    padding:10px
}