.tabelPanel {
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    .add-subject {
        margin: 10px 10px;
        display: flex;
        justify-content: flex-end;
    }
}